body {
    font-family: 'Georgia', serif;
    background-color: #BD081C;
    color: #fff; 
    margin: 0;
    padding: 0;
}

.header-logo {
    width: 800px; 
    height: auto; 
    display: block;
    margin: 0 auto; 
}

#app-details {
    margin: 20px;
    padding: 20px;
    background-color: rgba(129, 4, 4, 0.993); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app-details p {
    font-size: 20px; 
}

footer {
    margin-top: 20px;
    text-align: center;
}
.lien-pinterest a {
    text-decoration: none; 
    color: #fff; 
}
